################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/Suizalab.Citas.Api/bin/Debug/net6.0
/src/Suizalab.Citas.Api/obj
/src/Suizalab.Citas.Application/bin/Debug/net6.0
/src/Suizalab.Citas.Application/obj
/src/Suizalab.Citas.Common/bin/Debug/net6.0
/src/Suizalab.Citas.Common/obj
/src/Suizalab.Citas.Domain/bin/Debug/net6.0
/src/Suizalab.Citas.Domain/obj
/src/Suizalab.Citas.External/bin/Debug/net6.0
/src/Suizalab.Citas.External/obj
/src/Suizalab.Citas.Persistence/bin/Debug/net6.0
/src/Suizalab.Citas.Persistence/obj
